<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #fff;">
  <section class="mt-5">
    <div class="container text-center text-md-start">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="../../img/logo/logo_gk.png" width="35px">
          </h6>
          <p class="fw-bold text-uppercase text-dark fs-6">
            CÔNG TY CỔ PHẦN Gamakay Keyboard
          </p>
          <p class="fw-bold text-secondary fs-6">
            Hotline: <span class="text-danger">1900 0530</span>
          </p>
          <p class="fw-bold text-secondary fs-6">
            Email: <span class="text-danger">key@gamakay.com</span>
          </p>
          <p class="fw-bold text-secondary fs-6">
            Thời gian làm việc: <span class="text-danger">10h-18h hàng ngày</span>
          </p>
          <p class="fw-bold text-secondary fs-6">
            Hỗ trợ kỹ thuật - bảo hành: <span class="text-danger">1900 1000</span>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
          <!-- Links -->
          <p class="fw-bold mb-4">
            Về Gamakay
          </p>
          <p>
            <a href="#!" class="text-decoration-none fw-normal text-dark">Điều khoản sử dụng</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none fw-normal text-dark">Chính sách bảo mật</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none fw-normal text-dark">Giới thiệu</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none fw-normal text-dark">Tin tức</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none fw-normal text-dark">Tuyển dụng</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
          <!-- Links -->
          <p class="fw-bold mb-4">
            Chính sách
          </p>
          <div class="wrap_link_connect mt-4">
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-dark">Trả góp</a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-dark">Giao hàng</a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-dark">Đổi trả</a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-dark">Bảo hành</a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-dark">Hoàn tiền</a>
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">
          <!-- Links -->
          <p class=fw-bold mb-4">Kết nối với chúng tôi</p>
          <div class="wrap_link_connect d-flex mt-4">
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-primary"><i class="fab fa-facebook fs-1"></i></a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-danger"><i
                  class="fab fa-youtube fs-1 ms-2"></i></a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-info"><i
                  class="fab fa-twitter-square fs-1 ms-2"></i></a>
            </p>
            <p>
              <a href="#!" class="text-decoration-none fw-normal text-danger"><i
                  class="fab fa-instagram fs-1 ms-2"></i></a>
            </p>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3">
    <hr>
    © Copyright 2023 Gamakey. All rights reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->